// 背景

@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

body::-webkit-scrollbar {
    display: none;
}
.background {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .background .tea img {
    width: 100%;
    margin: 0;
  }
  .background .waters {
    position: absolute;
    left: 69.5vw;
    top: 15vw;
    transform: translate(-27%, -30%);
    clip-path: circle(50% at 50% 50%);
    width: 14vw;
    height: 14vw;
    background-image: url("../img/tea_water2.png");
    background-position: center;
    background-size: cover;
  }
  .background .logo {
    position: absolute;
    top: 15vw;
    left: 15vw;
  }
  .background .logo img {
    display: none;
  }
  .background .index {
    display: none;
  }
  .background .text_bar {
    position: absolute;
    top: 15vw;
    left: 12vw;
    width: 40vw;
    font-size: 32px;
    font-family: "cwtexfangsong";
  }