body {
  margin: 0;
  font-family: 'nsimsun' !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
}

.row {
  margin: 0;
}

#nav {
  padding: 10px 0;
  width: 100vw;
  float: right;
  position: fixed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 999999;
}

#nav .container {
  padding-left: 24%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1380px) {
  #nav .container {
    padding-left: 15%;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  #nav .container {
    padding-left: 10%;
  }
}

@media (max-width: 768px) {
  #nav .container {
    padding-left: 5%;
  }
}

#nav .container .navbar-brand {
  margin-right: 60px;
}

@media (max-width: 1100px) {
  #nav .container .navbar-brand {
    margin-right: 30px;
  }
}

@media (max-width: 992px) {
  #nav .container .navbar-brand {
    margin-right: 0px;
  }
}

@media (max-width: 1380px) {
  #nav .container ul {
    padding-left: 20vw;
  }
}

@media (max-width: 1100px) {
  #nav .container ul {
    padding-left: 10vw;
  }
}

@media (max-width: 992px) {
  #nav .container ul {
    padding-left: 5vw;
  }
}

@media (max-width: 650px) {
  #nav .container ul {
    padding-left: 0vw;
  }
}

#nav .container ul li {
  margin-right: 40px;
}

@media (max-width: 1100px) {
  #nav .container ul li {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  #nav .container ul li {
    margin-right: 10px;
  }
}

#nav .container ul li:hover {
  opacity: 0.5;
}

#nav .container .logo {
  min-width: 50px;
}

@media (max-width: 576px) {
  .navbar-toggler {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .navbar-brand {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-right: 39.5vw;
  }
}

@media (max-width: 576px) and (max-width: 375px) {
  .navbar-brand {
    padding-right: 34vw;
  }
}

@media (max-width: 576px) {
  .navbar-collapse {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:link,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #5f7e45;
  background-color: #5f7e45;
  border-color: #5f7e45;
  outline-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus,
.btn-primary:focus,
.btn:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#banner_area {
  width: calc(100% - 1140px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

@media (max-width: 1380px) {
  #banner_area {
    width: 100%;
    position: relative;
  }
}

@media (max-width: 1150px) {
  #banner_area {
    height: auto;
  }
}

@media (max-width: 768px) {
  #banner_area {
    height: 87vh;
    display: block;
  }
}

@media (max-width: 411px) {
  #banner_area {
    height: 382px;
    background-size: cover;
  }
}

#banner_area .banner_box ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

#banner_area .banner_box ul li {
  width: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 998;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 1380px) {
  #banner_area .banner_box ul li {
    max-height: calc(100vh - 56px);
  }
}

@media (max-width: 411px) {
  #banner_area .banner_box ul li {
    height: 382px;
    background-size: cover;
  }
}

#banner_area .banner_box ul li .slick-slide {
  float: left;
  min-height: 1px;
}

#banner_area .banner_box ul li .slick-slide img {
  display: block;
}

#banner_area .banner_box ul li .mainTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

#banner_area .banner_box ul li .mainTxt img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 80px;
  height: 520px;
}

@media (max-width: 768px) {
  #banner_area .banner_box ul li .mainTxt img {
    width: 60px;
    height: 390px;
  }
}

@media (max-width: 411px) {
  #banner_area .banner_box ul li .mainTxt img {
    width: 40px;
    height: 260px;
  }
}

#banner_area .banner_box ul li img.main {
  width: 100%;
  display: block;
  position: relative;
  z-index: 5;
  opacity: 0;
}

#banner_area .banner_box .slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

#about {
  width: 1140px;
  position: relative;
  background-image: url("../img/72ppi/br-02.jpg");
  float: right;
}

@media (max-width: 1380px) {
  #about {
    width: 100%;
  }
}

#about .about_padding {
  padding: 98px 0px 0px 151px;
}

@media (max-width: 992px) {
  #about .about_padding {
    padding-left: 100px;
  }
}

@media (max-width: 411px) {
  #about .about_padding {
    padding: 0% 0px 0px 11.7%;
  }
}

#about .about_img {
  margin-top: 120px;
}

#about .product_list .product_list_1,
#about .product_list .product_list_2,
#about .product_list .product_list_3,
#about .product_list .product_list_4 {
  margin: 5px;
  width: 30px;
  text-align: center;
  border: 1px solid black;
}

@media (max-width: 1380px) {
  #about .product_list {
    z-index: 99;
  }
}

.title_box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
}

@media (max-width: 768px) {
  .title_box {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    -webkit-writing-mode: lr-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: lr-tb;
    padding: 0;
    margin: 80px 20px 5px 60px;
  }
}

.title_box h2 {
  font-weight: normal;
  color: #000;
  font-size: 24px;
  position: absolute;
  left: 30px;
  top: 25%;
  letter-spacing: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 768px) {
  .title_box h2 {
    position: relative;
    left: 0px;
  }
}

.title_box h2::before {
  content: "";
  bottom: calc(50% + 75px);
  display: block;
  width: 1px;
  height: 450px;
  background: #e1e1e1;
  left: 50%;
  position: absolute;
}

@media (max-width: 768px) {
  .title_box h2::before {
    background: unset;
    width: unset;
    height: unset;
  }
}

.title_box h2::after {
  content: "";
  top: calc(50% + 75px);
  display: block;
  width: 1px;
  height: 1520px;
  background: #e1e1e1;
  left: 50%;
  position: absolute;
}

@media (max-width: 768px) {
  .title_box h2::after {
    top: 43px;
    left: 120px;
    width: 75%;
    height: 1px;
    width: calc(100% - 102px);
  }
}

.title_box h2 strong {
  letter-spacing: 4px;
  display: block;
  position: absolute;
  top: 50%;
  right: -100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: normal;
  color: #b9b9b9;
  font-size: 12px;
  white-space: nowrap;
  font-family: "Amiri", serif;
}

@media (max-width: 768px) {
  .title_box h2 strong {
    display: block;
    position: relative;
    top: 10px;
    right: 0px;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.mobileText {
  margin: 65px 0;
  padding-left: 11.7%;
}

.mobileText .font-set {
  font-size: 18px;
  line-height: 200%;
}

.products {
  width: 800px;
  height: 800px;
  margin-left: 220px;
}

.product_1,
.product_2,
.product_3,
.product_4 {
  width: 300px;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 100px;
}

#fonts1,
#fonts2,
#fonts3,
#fonts4 {
  width: 300px;
  margin: 210px 0px 0px 0px;
}

.details .row {
  padding: 98px 0px 0px 151px;
}

@media (max-width: 992px) {
  .details .row {
    padding-left: 100px;
  }
}

.product_top {
  padding: 210px 0px 0px 151px;
}

@media (max-width: 992px) {
  .product_top {
    padding-left: 100px;
    padding-left: 0px;
  }
}

@media (max-width: 576px) {
  .product_top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0%;
    padding-top: 100px;
  }
}

.imgbox {
  width: 42.03%;
}

@media (max-width: 767.98px) {
  .imgbox {
    width: 90vw;
  }
}

@media (max-width: 411px) {
  .imgbox {
    background-size: cover;
  }
}

.detail_product {
  width: 100%;
  height: 414px;
  background-size: cover;
}

@media (max-width: 1199.98px) {
  .detail_product {
    height: 340px;
  }
}

@media (max-width: 992px) {
  .detail_product {
    height: 302px;
  }
}

@media (max-width: 767.98px) {
  .detail_product {
    height: 540px;
  }
}

@media (max-width: 576px) {
  .detail_product {
    height: 512px;
  }
}

@media (max-width: 411px) {
  .detail_product {
    padding: 0% 0px 0px 11.7%;
    height: 370px;
    width: 90vw;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 375px) {
  .detail_product {
    height: 339px;
  }
}

@media (max-width: 325px) {
  .detail_product {
    height: 297px;
  }
}

.productText {
  position: relative;
  margin-left: 4%;
  margin-left: 50px;
}

.productText .blueline::before {
  content: "";
  display: block;
  width: 2px;
  height: 87px;
  background: #29abe2;
  left: -2%;
  position: absolute;
}

@media (max-width: 768px) {
  .productText {
    margin-top: 50px;
  }
}

@media (max-width: 411px) {
  .productText {
    margin-left: -10%;
  }
  .productText h2 {
    font-size: 24px;
  }
  .productText h3 {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .productText {
    margin-left: -5%;
  }
}

@media (max-width: 320px) {
  .productText {
    margin-left: 10%;
  }
}

.productText h2 {
  font-size: 36px;
  letter-spacing: 0.25em;
}

.productText h3 {
  font-size: 24px;
  letter-spacing: 0.25em;
}

.productText .margin-bottom {
  margin-bottom: 71px;
}

.productText .h3between {
  margin-bottom: 33px;
}

.detail_pd_img {
  width: 74.56%;
  height: 42.27vh;
  margin-top: 115px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1150px) {
  .detail_pd_img {
    height: 38vh;
  }
}

@media (max-width: 992px) {
  .detail_pd_img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .detail_pd_img {
    height: 29vh;
  }
}

@media (max-width: 576px) {
  .detail_pd_img {
    height: 24vh;
  }
}

@media (max-width: 411px) {
  .detail_pd_img {
    height: 18vh;
    width: 87.56%;
  }
}

.detail_pd_text h3 {
  font-size: 24px;
  line-height: 35px;
  line-height: 300%;
  letter-spacing: 0.25em;
}

@media (max-width: 411px) {
  .detail_pd_text h3 {
    letter-spacing: 0.05em;
    line-height: 300%;
    font-size: 18px;
  }
}

.detail_pd_text .mb67 {
  margin-bottom: 67px;
}

@media (max-width: 411px) {
  .detail_pd_text .mb67 {
    letter-spacing: 0.05em;
    margin-bottom: 20px;
  }
}

.textMarginLeftAndTop {
  margin-left: 151px;
  margin-top: 115px;
  padding-bottom: 115px;
}

@media (max-width: 992px) {
  .textMarginLeftAndTop {
    margin-left: 10%;
  }
}

@media (max-width: 411px) {
  .textMarginLeftAndTop {
    margin-left: 5%;
    padding-bottom: 0px;
  }
}

#footer {
  width: 100%;
  height: 250px;
  position: relative;
  z-index: 99;
  background-color: #9e9f71;
  float: right;
  font-size: 18pt;
  line-height: 200%;
  letter-spacing: 0.25em;
}

#footer .padding {
  padding: 20px 0 20px 0;
}

#footer .footer_margin {
  text-align: center;
}

@media (max-width: 576px) {
  #footer {
    height: 350px;
  }
}

@media (max-width: 411px) {
  #footer {
    display: none;
  }
}
/*# sourceMappingURL=tea_knowledge2.css.map */