@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
body {
  margin: 0;
  position: relative;
  font-family: 'cwtexfangsong' !important;
}

body p {
  margin: 0;
}

body .about_p {
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  left: calc(100% - 1115px);
  top: 5%;
  -webkit-transform: translateY(500%);
          transform: translateY(500%);
  white-space: nowrap;
}

@media (max-width: 768px) {
  body .about_p {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    -webkit-transform: unset;
            transform: unset;
    -webkit-writing-mode: lr-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: lr-tb;
    padding: 0;
    margin: 50px 20px 5px 60px;
    width: 75%;
  }
}

@media (max-width: 375px) {
  body .about_p {
    position: relative;
    left: 0%;
    top: 14%;
    width: 200px;
    -webkit-writing-mode: lr-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: lr-tb;
    padding: 0;
    margin: 40px 20px 5px 60px;
  }
}

body .about_p .ps_1 {
  font-size: 24px;
  position: relative;
  margin-right: 24px;
}

@media (max-width: 768px) {
  body .about_p .ps_1 {
    position: relative;
    left: 0px;
  }
}

body .about_p .ps_1::before {
  content: "";
  bottom: calc(50% + 75px);
  display: block;
  width: 1px;
  height: 600px;
  background: #e1e1e1;
  left: 50%;
  position: absolute;
}

@media (max-width: 768px) {
  body .about_p .ps_1::before {
    background: unset;
    width: unset;
    height: unset;
  }
}

body .about_p .ps_1::after {
  content: "";
  top: calc(50% + 75px);
  display: block;
  width: 1px;
  height: 500px;
  background: #e1e1e1;
  left: 50%;
  position: absolute;
}

@media (max-width: 768px) {
  body .about_p .ps_1::after {
    top: 43px;
    left: 120px;
    height: 1px;
    width: calc(100% - 102px);
  }
}

body .about_p .ps_1 strong {
  letter-spacing: 4px;
  display: block;
  position: absolute;
  top: 50%;
  right: -100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: normal;
  color: #b9b9b9;
  font-size: 12px;
  white-space: nowrap;
  font-family: "Amiri", serif;
}

@media (max-width: 768px) {
  body .about_p .ps_1 strong {
    display: block;
    position: relative;
    top: 10px;
    right: 0px;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

#nav {
  padding: 10px 0;
  width: 100vw;
  float: right;
  position: fixed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 999999;
}

#nav .container {
  padding-left: 24%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1380px) {
  #nav .container {
    padding-left: 15%;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  #nav .container {
    padding-left: 10%;
  }
}

@media (max-width: 768px) {
  #nav .container {
    padding-left: 5%;
  }
}

#nav .container .navbar-brand {
  margin-right: 60px;
}

@media (max-width: 1100px) {
  #nav .container .navbar-brand {
    margin-right: 30px;
  }
}

@media (max-width: 992px) {
  #nav .container .navbar-brand {
    margin-right: 0px;
  }
}

@media (max-width: 1380px) {
  #nav .container ul {
    padding-left: 20vw;
  }
}

@media (max-width: 1100px) {
  #nav .container ul {
    padding-left: 10vw;
  }
}

@media (max-width: 992px) {
  #nav .container ul {
    padding-left: 5vw;
  }
}

@media (max-width: 650px) {
  #nav .container ul {
    padding-left: 0vw;
  }
}

#nav .container ul li {
  margin-right: 40px;
}

@media (max-width: 1100px) {
  #nav .container ul li {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  #nav .container ul li {
    margin-right: 10px;
  }
}

#nav .container ul li:hover {
  opacity: 0.5;
}

#nav .container .logo {
  min-width: 50px;
}

@media (max-width: 576px) {
  .navbar-toggler {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .navbar-brand {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-right: 39.5vw;
  }
}

@media (max-width: 576px) and (max-width: 375px) {
  .navbar-brand {
    padding-right: 34vw;
  }
}

@media (max-width: 576px) {
  .navbar-collapse {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:link,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #5f7e45;
  background-color: #5f7e45;
  border-color: #5f7e45;
  outline-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus,
.btn-primary:focus,
.btn:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#section_1 {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

#section_1 .container-fluid {
  width: 100%;
}

#section_1 .container-fluid .banner_box {
  width: 40%;
  position: fixed;
  z-index: -1;
}

#section_1 .container-fluid .banner_box .banner_img {
  position: relative;
  background-size: cover;
  overflow: hidden;
  top: 0;
  left: 0;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

#section_1 .container-fluid .banner_box .banner_img img {
  height: 100vh;
}

#section_1 .container-fluid .banner_box .banner_img2 img {
  display: none;
}

#section_1 .container-fluid .banner_box .bannertext img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 80;
  width: 80px;
}

#section_1 .container-fluid .about {
  width: 60%;
  float: right;
  background-image: url("../img/72ppi/br-05.jpg");
  padding-left: 150px;
  padding-right: 105px;
  padding-top: 168px;
  padding-bottom: 80px;
}

#section_1 .container-fluid .about .about_title {
  position: relative;
  margin: 0;
}

#section_1 .container-fluid .about .about_title .about_text {
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.25em;
  margin-bottom: 40px;
}

#section_1 .container-fluid .about .about_title .about_picture {
  margin-bottom: 40px;
}

#section_1 .container-fluid .about .about_title .product {
  width: 100%;
  margin-bottom: 80px;
}

#section_1 .container-fluid .about .about_title .product .product_title {
  text-align: center;
  padding-bottom: 40px;
}

#section_1 .container-fluid .about .about_title .product .product_title p {
  font-size: 24px;
  letter-spacing: 0.25em;
}

@media (max-width: 375px) {
  #section_1 .container-fluid .about .about_title .product .product_title p {
    font-size: 15px;
  }
}

footer {
  width: 100%;
  background-color: #9E9F71;
  z-index: 99;
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  font-size: 20px;
  letter-spacing: 0.25em;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

footer i {
  font-size: 25px;
}

footer .info {
  padding-top: 40px;
  line-height: 40px;
}

footer .info i {
  color: #f6c8ca;
}

footer .info a {
  color: #212529;
}

footer .info p {
  margin: 0;
}

footer .follow {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer .copyright {
  padding-bottom: 40px;
}

footer .follow p,
footer .copyright p {
  margin: 0;
}

@media (max-width: 768px) {
  #section_1 {
    width: 100vw;
    display: block;
    margin: 0;
    padding: 0;
  }
  #section_1 .container-fluid .banner_box {
    width: 100%;
    position: relative;
    display: block;
  }
  #section_1 .container-fluid .banner_box .banner_img img {
    display: none;
  }
  #section_1 .container-fluid .banner_box .banner_img2 img {
    display: block;
    width: 100%;
  }
  #section_1 .container-fluid .banner_box .bannertext {
    display: none;
  }
  #section_1 .container-fluid .about {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  #section_1 .container-fluid .about .about_title {
    width: 100%;
    margin: 0 auto;
  }
  #section_1 .container-fluid .about .about_title .about_p {
    margin-top: 30px;
  }
  #section_1 .container-fluid .about .about_title .about_text {
    margin-top: 40px;
    font-size: 15px;
  }
  #section_1 .container-fluid .about .about_title .about_picture {
    margin-bottom: 40px;
  }
  #section_1 .container-fluid .about .about_title .product {
    width: 100%;
    margin-bottom: 40px;
  }
  #section_1 .container-fluid .about .about_title .product .product_title {
    text-align: center;
    padding-bottom: 40px;
  }
  #section_1 .container-fluid .about .about_title .product .product_title p {
    font-size: 15px;
    letter-spacing: 0.25em;
  }
  footer {
    padding: 0 40px;
    font-size: 12px;
  }
  footer i {
    font-size: 12px;
  }
  footer .info {
    padding-top: 20px;
    line-height: 30px;
  }
  footer .follow {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer .copyright {
    padding-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .about p {
    font-size: 15px;
  }
  .about_title .product .product_title p {
    font-size: 15px;
  }
  .ps_1::after {
    width: 100px;
  }
  p {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/*# sourceMappingURL=tea_knowledge.css.map */