body {
    margin: 0;
    font-family: 'nsimsun' !important;
    // font-weight: bolder;
    box-sizing: border-box;
    min-width: 320px;
}

.row {
    margin: 0;
}

// 0519
#nav {
    padding: 10px 0;
    width: 100vw;
    float: right;
    position: fixed;
    transition: 0.5s;
    z-index: 999999;

    .container {
        padding-left: 24%;
        align-items: center;

        @media (max-width: 1380px) {
            padding-left: 15%;
            max-width: 100%;
        }

        @media (max-width: 992px) {
            padding-left: 10%;
        }

        @media (max-width: 768px) {
            padding-left: 5%;
        }

        .navbar-brand {
            margin-right: 60px;

            @media (max-width: 1100px) {
                margin-right: 30px;
            }

            @media (max-width: 992px) {
                margin-right: 0px;
            }
        }

        ul {
            @media (max-width: 1380px) {
                padding-left: 20vw;
            }

            @media (max-width: 1100px) {
                padding-left: 10vw;
            }

            @media (max-width: 992px) {
                padding-left: 5vw;
            }

            @media (max-width: 650px) {
                padding-left: 0vw;
            }
        }

        ul li {
            margin-right: 40px;

            @media (max-width: 1100px) {
                margin-right: 20px;
            }

            @media (max-width: 992px) {
                margin-right: 10px;
            }
            &:hover {
                opacity: 0.5;
            }
        }

        .logo {
            min-width: 50px;
            // margin-right: 100px;
        }
    }
}

// .navbar-nav {
//     flex-direction: row;
// }
@media (max-width: 576px) {
    .navbar-toggler {
        order: 1;
    }

    .navbar-brand {
        order: 2;
        padding-right: 39.5vw;
        @media (max-width: 375px) {
            padding-right: 34vw;
        }
    }

    .navbar-collapse {
        order: 3;
    }

    // .collapse {
    //     flex-direction: column-reverse;
    // }
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:link,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    color: #5f7e45;
    background-color: #5f7e45;
    border-color: #5f7e45;
    outline-color: white;
    box-shadow: none;
}
// 覆蓋原本的套件顏色

.btn:focus,
.btn-primary:focus,
.btn:active {
    // outline: none !important;
    outline: none !important;
    box-shadow: none !important;
}
//  去掉藍色邊框
// 0519
// .banner_box {
//     // width: 780px;
//     width: calc(100% - 1140px);
//     height: 1080px;
//     background-image: url("../img/72ppi/img1-0513.png");
//     background-repeat: no-repeat;
//     background-size: cover;
//     position: fixed;
//     z-index: 10;

//     @media (max-width: 1150px) {
//         width: 100%;
//         z-index: -1;
//         position: relative;
//         // height: auto;
//     }

//     @media (max-width: 768px) {
//         height: 87vh;
//         display: block;
//     }

//     @media (max-width: 576px) {
//         height: 60vh;
//     }

//     @media (max-width: 375px) {
//         height: 382px;
//     }
// }

// 0515調整Banner
#banner_area {
    width: calc(100% - 1140px);
    // height: 1080px;
    position: fixed;
    top: 0;
    left: 0;
    // background-image: url("../img/72ppi/img1.png");
    // background-repeat: no-repeat;
    z-index: 10;

    @media (max-width: 1380px) {
        width: 100%;
        z-index: -1;
        position: relative;
    }

    @media (max-width: 1150px) {
        width: 100%;
        z-index: -1;
        position: relative;
        height: auto;
    }

    @media (max-width: 768px) {
        height: 87vh;
        display: block;
    }

    // @media (max-width: 576px) {
    //     height: 60vh;
    // }

    @media (max-width: 411px) {
        height: 382px;
        background-size: cover;
        // display: none;
    }

    .banner_box {

        ul {
            list-style: none;
            padding-left: 0px;
            margin: 0;

            li {
                width: 100%;
                position: relative;
                left: 0px;
                top: 0px;
                z-index: 998;
                background-repeat: no-repeat;
                background-position-x: left;
                background-position-y: top;
                background-size: cover;
                height: 100vh;
                overflow: hidden;

                @media (max-width: 1380px) {
                    max-height: calc(100vh - 56px);
                }

                @media (max-width: 411px) {
                    height: 382px;
                    background-size: cover;
                    // display: none;
                }


                .slick-slide {
                    float: left;
                    min-height: 1px;

                    img {
                        display: block;
                    }
                }

                .mainTxt {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 10;

                    // @media (max-width: 1024px) {
                    //     top: 30%;
                    //     left: 52%;
                    // }

                    // @media (max-width: 768px) {
                    //     transform: translate(-120%, -40%) scale(0.7);
                    // }

                    img {
                        backface-visibility: hidden;
                        // 調整文字的圖片大小
                        width: 80px;
                        height: 520px;

                        // 調整文字的圖片大小
                        @media (max-width: 768px) {
                            width: 60px;
                            height: 390px;
                        }

                        @media (max-width: 411px) {
                            width: 40px;
                            height: 260px;
                        }
                    }
                }

                img.main {
                    width: 100%;
                    display: block;
                    position: relative;
                    z-index: 5;
                    opacity: 0;
                }
            }
        }

        .slick-slider {
            position: relative;
            display: block;
            box-sizing: border-box;
            user-select: none;
            touch-action: pan-y;
        }
    }
}

.mobileBanner {
    background-image: url(../img/72ppi/img1-0513.png);
    display: none;

    @media (max-width: 411px) {
        width: 100%;
        height: 382px;
        display: block;
        background-size: cover;
    }
}

// 0515調整Banner




#about {
    width: 1140px;
    position: relative;
    background-image: url("../img/72ppi/br-02.jpg");
    float: right;

    @media (max-width: 1380px) {
        width: 100%;
    }

    .about_padding {
        padding: 98px 0px 0px 151px;

        @media (max-width: 992px) {
            padding-left: 100px;
        }

        @media (max-width: 411px) {
            padding: 0% 0px 0px 11.7%;
        }
    }

    .about_img {
        margin-top: 120px;
    }

    .product_list {

        .product_list_1,
        .product_list_2,
        .product_list_3,
        .product_list_4 {
            margin: 5px;
            width: 30px;
            text-align: center;
            border: 1px solid black;
        }

        @media (max-width: 1380px) {
            z-index: 99;
            // width: 100%;
        }

        // @media (max-width: 411px) {
        //     width: 87vw;
        // }
    }
}

// 中間線條
.title_box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    writing-mode: tb-rl;

    // h3 {
    //     writing-mode: horizontal-tb;

    //     @media (max-width: 411px) {
    //         display: block;
    //     }
    // }

    @media (max-width: 768px) {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        writing-mode: lr-tb;
        padding: 0;
        margin: 80px 20px 5px 60px;
    }

    h2 {
        font-weight: normal;
        font-family: "cwTeXFangSong";
        color: #000;
        font-size: 24px;
        position: absolute;
        left: 30px;
        top: 25%;
        letter-spacing: 5px;
        transform: translateY(-50%);

        @media (max-width: 768px) {
            position: relative;
            left: 0px;
        }

        &::before {
            content: "";
            bottom: calc(50% + 75px);
            display: block;
            width: 1px;
            height: 450px;
            background: #e1e1e1;
            left: 50%;
            // bottom: calc(100% + 10px);
            position: absolute;

            @media (max-width: 768px) {
                background: unset;
                width: unset;
                height: unset;
            }

        }

        &::after {
            content: "";
            top: calc(50% + 75px);
            display: block;
            width: 1px;
            height: 1520px;
            background: #e1e1e1;
            left: 50%;
            // top: 135px;
            position: absolute;

            @media (max-width: 768px) {
                top: 43px;
                left: 120px;
                width: 579px;
                height: 1px;

            }
        }

        strong {
            letter-spacing: 4px;
            display: block;
            position: absolute;
            top: 50%;
            right: -100%;
            transform: translateY(-50%);
            font-weight: normal;
            color: #b9b9b9;
            font-size: 12px;
            white-space: nowrap;
            font-family: "Amiri", serif;

            @media (max-width: 768px) {
                display: block;
                position: relative;
                top: 10px;
                right: -30px;
                transform: translateY(0%);
            }
        }
    }

    // 中間線條
}

h2 {
    .mobile-none {
        @media (max-width: 411px) {
            display: none;
        }
    }
}

.mobileText {
    margin: 65px 0;
    // left: 11.7%;
    padding-left: 11.7%;

    .font-set {
        font-size: 18px;
        line-height: 200%;
    }
}

.products {
    width: 800px;
    height: 800px;
    margin-left: 220px;
}

.product_1,
.product_2,
.product_3,
.product_4 {
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 100px;
}

#fonts1,
#fonts2,
#fonts3,
#fonts4 {
    width: 300px;
    margin: 210px 0px 0px 0px;
}

.details .row {
    padding: 98px 0px 0px 151px;

    @media (max-width: 992px) {
        padding-left: 100px;
    }
}

.product_top {
    // padding-left: 13.59%;
    // padding-top: 13.74%;
    padding: 210px 0px 0px 151px;

    @media (max-width: 992px) {
        padding-left: 100px;

    }

    @media (max-width: 576px) {
        justify-content: center;
        padding-left: 0%;
        padding-top: 100px;
    }
}

.imgbox {
    width: 42.03%;

    @media (max-width: 767.98px) {
        width: 90vw;
    }

    @media (max-width: 411px) {
        background-size: cover;
        // padding-left: 10%;
    }
}

.detail_product {
    // padding: 6% 0px 0px 13%;
    // padding: 98px 0px 0px 151px;
    width: 100%;
    // height: 39vh;
    height: 414px;
    background-size: cover;

    // background-repeat: no-repeat;
    // height: 38.36vw;
    @media (max-width: 1150px) {
        height: 340px;
    }

    @media (max-width: 992px) {
        height: 302px;
    }

    @media (max-width: 767.98px) {
        height: 440px;
    }

    @media (max-width: 576px) {
        height: 512px;
    }

    @media (max-width: 411px) {
        padding: 0% 0px 0px 11.7%;
        height: 370px;
        width: 90vw;
        margin: 0;
        padding: 0;
    }

    @media (max-width: 375px) {
        height: 339px;
    }

    @media (max-width: 325px) {
        height: 297px;
    }
}

.productText {
    position: relative;

    .blueline {
        &::before {
            content: "";
            display: block;
            width: 2px;
            height: 87px;
            background: rgb(41, 171, 226);
            left: -2%;
            position: absolute;
        }
    }

    @media (max-width: 768px) {
        margin-top: 50px;
    }

    @media (max-width: 411px) {
        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 18px;
        }

        margin-left: -10%;
    }

    @media (max-width: 375px) {
        margin-left: -5%;
    }

    @media (max-width: 320px) {
        margin-left: 10%;
    }

    h2 {
        font-size: 36px;
        letter-spacing: 0.25em;
    }

    h3 {
        font-size: 24px;
        letter-spacing: 0.25em;
    }

    margin-left: 4%;
    margin-left: 50px;

    .margin-bottom {
        // margin-bottom: 24.5%;
        // margin-bottom: 12%;
        margin-bottom: 71px;
    }

    .h3between {
        // margin-bottom: 14.17%;
        margin-bottom: 33px;
    }
}

.detail_pd_img {
    width: 74.56%;
    height: 42.27vh;
    // margin-top: 11.18%;
    margin-top: 115px;
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: 1150px) {
        height: 38vh;
    }

    @media (max-width: 768px) {
        height: 29vh;
    }

    @media (max-width: 576px) {
        height: 24vh;
    }

    @media (max-width: 411px) {
        height: 18vh;
        width: 87.56%;
    }
}

.detail_pd_text {
    h3 {
        font-size: 24px;
        line-height: 35px;
        line-height: 300%;
        letter-spacing: 0.25em;

        @media (max-width: 411px) {
            letter-spacing: 0.05em;
            line-height: 300%;
            font-size: 18px;
        }
    }

    .mb67 {
        margin-bottom: 67px;

        @media (max-width: 411px) {
            letter-spacing: 0.05em;
            margin-bottom: 20px;
        }
    }
}

.textMarginLeftAndTop {
    // margin-left: 10%;
    margin-left: 151px;
    // margin-top: 21.05%;
    margin-top: 115px;
    padding-bottom: 115px;

    @media (max-width: 992px) {
        margin-left: 10%;
    }

    // @media (max-width: 768px) {
    //     margin-left: 10%;
    // }
    @media (max-width: 411px) {
        margin-left: 5%;
        padding-bottom: 0px;
    }
}

// .footer{
//   margin-top: 18.59%;
//   ul li{
//     list-style: none;
//     font-size: 18pt;
//     line-height: 200%;
//     letter-spacing :0.25em;
//   }
//   ul{
//     li.padding{
//       line-height: 500%;
//     }
//   }
// }
#footer {
    width: 100%;
    height: 250px;
    position: relative;
    z-index: 99;
    background-color: #9e9f71;
    float: right;
    // line-height: 40px;
    // letter-spacing: 4px;
    font-size: 18pt;
    line-height: 200%;
    letter-spacing: 0.25em;

    .padding {
        padding: 20px 0 20px 0;
    }

    .footer_margin {
        text-align: center;
    }

    // @media ( max-width: 992px) {
    //     padding: 50px 0 50px 0;
    //     .padding {
    //         padding: 50px 0 50px 0;
    //     }
    // }
    @media (max-width:576px) {
        height: 350px;
    }

    @media (max-width: 411px) {
        display: none;
    }
}

// ul li{
//   list-style: none;
//   margin-left: 50px;
// }

/*# sourceMappingURL=style.css.map */